<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>Inicio de sesion</title>
</head>
<body>
    <main>
        <div class="form - container">
            <h1>Iniciar sesion</h1">
                <form id="login - register">
                <label for="user">Ingrese un suario</label>
                <input type="text" name="Usuario" id="Usuario" placeholder="Ingrese su usuario">
                <label for="contraseña">Ingrese una contraseña</label>
                <input type="password" name="password" id="password" placeholder="Ingrese su contraseña">
                <button type="submit">registrarse</button>
            </form>

            <p>Si ya tienes una cuenta <a href="/login">Ingrese aqui</a></p>
 
        </div>
    </main>
</body>












<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
</html>